<%- include top.ejs %>

<div class="col-sm-6">
	<form action="/users/signup" method="POST">
		<div class="form-group mb-3">
			<label for="username">Username</label>

			<input
				id="username"
				name="username"
				type="text"
				placeholder="Digite o username"
				class="form-control"
			/>
		</div>

		<div class="form-group mb-3">
			<label for="password">Password</label>

			<input
				id="password"
				name="password"
				type="password"
				placeholder="Digite a password"
				class="form-control"
			/>
		</div>

		<div class="form-group mb-3">
			<label for="email">E-mail</label>

			<input
				id="email"
				name="email"
				type="text"
				placeholder="Digite o e-mail"
				class="form-control"
			/>
		</div>

		<div class="form-group mb-3">
			<label for="profile">Perfil</label>
			<select id="profile" name="profile" class="form-select">
				<option value="1">Usuário</option>
				<option value="2">Administrador</option>
			</select>
		</div>

		<input type="submit" value="Save" class="btn btn-primary" />

		<a href="/" class="btn btn-danger">Cancelar</a>
	</form>

	<hr />

	<% if(message) { %>
	<div class="alert alert-danger"><%= message %></div>
	<% }%>
</div>

<%- include bottom.ejs %>
