<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><% title %></h1>
		<p>Fill the fields below to register a customer.</p>
		<form action="/new" method="POST">
			<fieldset>
				<legend>Registration Data</legend>
				<p>Name: <input type="text" name="name" /></p>
				<p>Age: <input type="number" name="age" /></p>
				<p>
					Region: <input type="text" name="city" />
					<select name="state">
						<option>Select the state</option>
						<option>RS</option>
						<option>SC</option>
						<option>PR</option>
					</select>
				</p>
				<p>
					<input type="submit" value="Salvar" />
					<a href="/">Cancelar</a>
				</p>
			</fieldset>
		</form>
		<script>
			if (window.location.search) {
				const error = window.location.search.split('=')[1];

				alert(decodeURI(error));
			}
		</script>
	</body>
</html>
